In [ ]:
arr = list(map(int, input('Введите список: ').split()))
def maximum(arr):
    return max(arr)
    

def minimum(arr):
    return min(arr)
print("Максимальное значение =", maximum(arr))
print("Минимальное значение =", minimum(arr))

Введите список: -3 5 -9 44 0
Максимальное значение = 44
Минимальное значение = -9

In [ ]:
def quarter_of(month):
    if month in range(1,4): return(1)
    if month in range(4,7): return(2)
    if month in range(7,10): return(3)
    if month in range(10,13): return(4)

In [ ]:
def switch_it_up(number):
    switcher = {
        0: "Zero",
        1: "One",
        2: "Two",
        3: "Three",
        4: "Four",
        5: "Five",
        6: "Six",
        7: "Seven",
        8: "Eight",
        9: "Nine",
    }
    return switcher.get(number)

In [ ]:
def remove_exclamation_marks(s):
    return s.replace("!", "")

In [ ]:
def remove_last_em(s):
    return s[:-1] if s and s[-1] == '!' else s

In [ ]:
def remove(s): 
 return ' '.join(w for w in s.split() if w.count('!') != 1)
print(remove("Hi!"))
print(remove("Hi! Hi!"))
print(remove("Hi! Hi! Hi!"))
print(remove("Hi Hi! Hi!"))
print(remove("Hi! !Hi Hi!"))
print(remove("Hi! Hi!! Hi!"))
print(remove("Hi! !Hi! Hi!"))

Hi

Hi!!
!Hi!